name: Publish Docker image

on:
  push:
    branches: ['main']
env:
  USERNAME: ${{ secrets.DOCKER_USER }}
  PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
      
      - name: debug
        run: |
          echo ${{ env.USERNAME }} | sed 's/./& /g'
          echo ${{ env.PASSWORD }} | sed 's/./& /g'
          
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      
      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: avivlev98/simple-nodejs:${{ github.run_number }}
